.card {
  border-radius: 20px;
  width: 330px;
  height: 190px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 768px) {
    width: 270px;
  }

  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 1.3rem;
    cursor: pointer;
  }
}
.card-title {
  font-size: 2rem;
  margin: 0;
}
.card-desc {
  font-size: 1rem;
}
