.contact{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    min-height: calc(100vh - 248px);

    h1{
        position: relative;
        text-align: center;
        margin-bottom: 50px;

        @media only screen and (max-width: 700px) {
            top: 0px;
          }
    }
    h3, h4{
        margin: 0;
    }
    h3{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    h4{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .social-icon{
        margin: 20px;
        cursor: pointer;
    }
}