
  h1{
    position: absolute;
    top: 20%;
    left: 10%;
}  

.header {
  display: flex;
  margin-bottom: 50px;

  img {
    width: 60%;
    object-fit: contain;
  }
}
.left-container {
  width: 40%;
}
.projects{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}