.single-post{
  margin-left: 10%;
  margin-right: 10%;

}
.links {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.title{
  color: black;
  position: relative;
  text-align: center;
  left: 0;
  margin-top: 100px;
}